{% extends 'base/base.html.twig' %}

{% set CONFIG_SITE_TITRE = "Erreur 404 - " ~ CONFIG_SITE_TITRE %}

{% block contenu %}
    <h1>Erreur 404</h1>
    <p>La page que vous demandez n'existe pas ou plus.</p>
{% endblock %}

{% block javascript %}{% endblock %}