{% extends 'base/base.html.twig' %}

{% set SITE_TITRE = "Erreur 405 - " ~ SITE_TITRE %}

{% block contenu %}
    <h1>Erreur 405</h1>
    <p>Vous n'avez pas le droit d'être ici.</p>
{% endblock %}

{% block javascript %}{% endblock %}