{% extends 'base/base.html.twig' %}

{% set TITRE = "Erreur 500 - " ~ TITRE %}

{% block contenu %}
    <h1>Erreur 500</h1>
    <p>Une erreur est survenue lors du chargement de la page.</p>
{% endblock %}

{% block javascript %}{% endblock %}